// Imports
@import 'base/variables';
@import 'base/mixins';
@import 'components/team-form';

// Estilo base para o corpo da aplicação
body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-color;
}
